
@{
    ViewBag.Title = "Книги";
}

@model List<Library.Models.BookModel>

<h2>Книги</h2>

<a href="@Url.Action("Create", "Book")">Добавить книгу</a>

<br />
<br />

<table class="table table-bordered table-striped" id="bookTable">
    <tr>
        <th>Индификатор</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Описание</th>
        <th>Колличество в наличии</th>
        <th></th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Description</td>
            <td>@book.Count</td>
            <td>
                <a href="@Url.Action("Edit", "Book", new {@id=book.Id})">Редактировать</a>
                <a href="@Url.Action("Delete", "Book", new {@id=book.Id})">Удалить</a>
            </td>
        </tr>
    }
</table>