
@{
    ViewBag.Title = "История выдачи книг";
}

@model List<Library.Models.LoanIndexViewModel>

<h2>История выдачи книг</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Название книги</th>
        <th>Имя пользователя</th>
        <th>Фамилия пользователя</th>
        <th>Дата выдачи</th>
        <th>Дата возврата</th>
    </tr>
    @foreach (var loan in Model)
    {
        <tr>
            <td>@loan.BookTitle</td>
            <td>@loan.UserFirstName</td>
            <td>@loan.UserLastName</td>
            <td>@loan.LoanDate</td>
            <td>@loan.ReturnDate</td>
        </tr>
    }
</table>